<div class="">
    <nav class="navbar navbar-expand-lg bg-white fixed-top">
        <a class="navbar-brand" href="/" >CODE KNOWLEGDE UNL</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto navbar-right-top">
                <li class="nav-item dropdown connection">
                    <a class="nav-link" href="/pregunta"> Hacer preguntas </a>
                </li>
                <li class="nav-item dropdown connection">
                                         <a class="nav-link" href="/administrar/mispreguntas"> Mis preguntas </a>

                </li>
                <li class="nav-item dropdown notification">
                    <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="images/bell.png" alt="" class="user-avatar-md rounded-circle"> <span class=""></span></a> <!-- indicator pa la noti -->
                    <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                        <li>
                            <div class="notification-title"> Notification</div>
                            <div class="notification-list">
                                <div class="list-group">
                                    <a href="#" class="list-group-item list-group-item-action active">
                                        <div class="notification-info">
                                            <div class="notification-list-user-img"><img src="{{imagen}}" alt="imagen de perfil" class="user-avatar-md rounded-circle"></div>
                                            <div class="notification-list-user-block"><span class="notification-list-user-name">Jeremy Rakestraw</span>accepted your invitation to join the team.
                                                <div class="notification-date">2 min ago</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="list-footer"> <a href="#">Ver todas las notificaciones</a></div>
                        </li>
                    </ul>
                </li>                        
                <li class="nav-item dropdown nav-user">
                    <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{{imagen}}" alt="imagen de perfil" class="user-avatar-md rounded-circle"></a>
                    <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                        <div class="nav-user-info">
                            <h5 class="mb-0 text-white nav-user-name"> {{username}} </h5>
                             
                            <span class="status"></span><span class="ml-2"> Disponible </span>
                        </div>
                        <a class="dropdown-item" href="/usuario_perfil/{{id}}">Perfil</a>
                        <a class="dropdown-item" href="/cerrar_sesion">Salir</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>

