<div class="">
    <nav class="navbar navbar-expand-lg bg-white fixed-top">
        <a class="navbar-brand" href="/" >CODE KNOWLEGDE UNL</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto navbar-right-top">
                <li class="nav-item dropdown connection">
                    <a class="nav-link" href="/pregunta"> Hacer preguntas </a>
                </li>
                <li class="nav-item dropdown connection">
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ADMINISTRAR
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/administrar/usuarios">Usuarios</a>
                        <a class="dropdown-item" href="/administrar/categorias">Categorias</a>
                        <a class="dropdown-item" href="/administrar/preguntas">Informe de preguntas</a>
                        
                        
                        
                    </div>
                </li>                                        
                <li class="nav-item dropdown nav-user">
                    <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{{imagen}}" alt="imagen de perfil" class="user-avatar-md rounded-circle"></a>
                    <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                        <div class="nav-user-info">
                            <h5 class="mb-0 text-white nav-user-name"> {{username}} </h5>

                            <span class="status"></span><span class="ml-2"> Disponible </span>
                        </div>
                        <a class="dropdown-item" href="/usuario_perfil/{{id}}">Perfil</a>
                        <a class="dropdown-item" href="/cerrar_sesion">Salir</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>




