<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--===============================================================================================-->	
        <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="css/util.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>

        <div class="limiter">
            <div class="container-login100" style="background-image: url('https://ic.c4assets.com/brands/mr-pickles/series-1/episode-1/ae781432-07be-40ea-859c-72ca036abe4c.jpg?interpolation=progressive-bicubic&output-quality=90');">
                <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
                    <form class="login100-form validate-form flex-sb flex-w" method="POST" action="/registro">
                        <span class="login100-form-title p-b-53">
                            Registrate con:
                        </span>

                        <a href="#" class="btn-face m-b-20">
                            <i class="fa fa-facebook-official"></i>
                            Facebook
                        </a>

                        <a href="#" class="btn-google m-b-20">
                            <img src="images/icons/icon-google.png" alt="GOOGLE">
                            Google
                        </a>
                        <div class="container">
                            {{#if msg}}
                            {{#if msg.error}}
                            
                                <div class="alert alert-danger " style="font-size: 16px">
                                    {{msg.error}}
                                </div>
                            
                            {{/if}}
                            {{#if msg.info}}
                            
                                <div class="alert alert-success" style="font-size: 16px">
                                    {{msg.info}}
                                </div>
                            
                            {{/if}}
                            {{/if}}
                        </div>
                            <span class="txt1">
                                Nombres:
                            </span>
                        
                        <div class="wrap-input100 validate-input" data-validate = "Necesitas Establecer un Nombre">
                            <input class="input100" type="text" name="nombre_u" >
                            <span class="focus-input100"></span>
                        </div>
                        <div class="p-t-31 p-b-9">
                            <span class="txt1">
                                Apellidos:
                            </span>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate = "Necesitas Establecer un Apellido">
                            <input class="input100" type="text" name="apellido_u" >
                            <span class="focus-input100"></span>
                        </div>
                        <div class="p-t-31 p-b-9">
                            <span class="txt1">
                                Nombre de Usuario:
                            </span>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate = "Necesitas Establecer un Usuario">
                            <input class="input100" type="text" name="username" >
                            <span class="focus-input100"></span>
                        </div>
                        <div class="p-t-31 p-b-9">
                            <span class="txt1">
                                Correo Electronico:
                            </span>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate = "Necesitas Establecer un correo">
                            <input class="input100" type="email" name="email" >
                            <span class="focus-input100"></span>
                        </div>
                        <div class="p-t-13 p-b-9">
                            <span class="txt1">
                                Contrasena:
                            </span>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate = "Necesitas establecer una contrasena">
                            <input class="input100" type="password" name="clave" >
                            <span class="focus-input100"></span>
                        </div>

                    
                        <div class="container-login100-form-btn m-t-17">
                            <button class="login100-form-btn">
                                Registrarse
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div id="dropDownSelect1"></div>

        <!--===============================================================================================-->
        <script src="js/main.js"></script>

    </body>
</html>
